/* General Styles */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #111;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    font-size: 20px;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    padding: 10px;
    z-index: 1000; /* Make sure it stays on top */
    transition: top 0.3s;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li.separator {
    color: #fff; /* White color for the separators */
    font-size: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* Hero Header */
.hero-header {
    background-image: url('portfolioHeader.jpg'); /* Replace with your header image path */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Makes the image stay fixed while scrolling */
    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-header h1 {
    color: #fff; /* White text color */
    font-size: 72px; /* Adjust font size as needed */
    margin: 0;
}

/* Section Styles */
.section {
    padding: 60px 20px;
    text-align: center;
}

/* Section Headers */
.header h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: #fff;
}

/* Background Colors */
.blue-ribbon {
    background-color: #0066cc; /* Blue Ribbon background */
}

.shark-color {
    background-color: #343f4b; /* Shark color background */
}

.ghost-color {
    background-color: #f8f8ff; /* Ghost color background */
    color: #000 !important; /* Black font for better contrast */
}

.malibu-color {
    background-color: #80c0ff; /* Malibu color background */
    color: #111; /* Dark font for better contrast */
}

/* Footer Styles */
footer {
    padding: 20px;
    font-size: 18px;
}
